body { margin-bottom: 0px; font-family: tahoma; font-size: 10px}
a:link {
	color: #FFFFFF;
	font-family: tahoma;
	font-size: 10px;
	text-decoration: none;

}
a:hover {
	color: #407976;
	text-decoration: none;
	font-family: tahoma;
	font-size: 10px;
}
a:visited {
	color: #FFFFFF;
	font-family: tahoma;
	font-size: 10px;
	text-decoration: none;
}
td, textarea, input, select {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
.tableDetail {
	font-size: 10px;
}
.unnamed1 {
}
