body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-lora: Lora;
  --font-kanit: Kanit;
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-7xl: 26px;
  --font-size-9xl: 28px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-3xl: 22px;
  --font-size-41xl: 60px;
  --font-size-25xl: 44px;
  --font-size-xl: 20px;
  --font-size-mid: 17px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-51xl: 70px;
  --font-size-45xl: 64px;
  --font-size-15xl: 34px;
  --font-size-21xl: 40px;
  --font-size-19xl: 38px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-31xl: 50px;
  --font-size-lgi: 19px;
  --font-size-36xl: 55px;
  --font-size-14xl: 33px;
  --font-size-3xs: 10px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: #fcfcfc;
  --color-gray-200: #888;
  --color-gray-300: #868686;
  --color-gray-400: #808080;
  --color-gray-500: #807676;
  --color-gray-600: #787878;
  --color-gray-700: rgba(136, 136, 136, 0.05);
  --color-gray-800: rgba(255, 255, 255, 0.05);
  --color-gray-900: rgba(0, 0, 0, 0.6);
  --color-gray-1000: rgba(255, 255, 255, 0.03);
  --color-darkslateblue-100: #203e6b;
  --color-darkslateblue-200: #28234d;
  --color-crimson: #d31e2f;
  --color-darkslategray-100: #333;
  --color-darkslategray-200: #263238;
  --color-whitesmoke-100: #ebebeb;
  --color-mediumslateblue: #0961f5;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-6xl: 25px;
  --gap-8xs: 5px;
  --gap-mini: 15px;
  --gap-30xl: 49px;
  --gap-39xl: 58px;
  --gap-10xl: 29px;
  --gap-13xl: 32px;
  --gap-xl: 20px;
  --gap-9xl: 28px;
  --gap-3xl: 22px;
  --gap-25xl: 44px;
  --gap-5xl: 24px;
  --gap-lgi: 19px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-lgi-3: 19.3px;
  --gap-66xl: 85px;
  --gap-2xl: 21px;
  --gap-23xl: 42px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-45xl: 64px;

  /* Paddings */
  --padding-base: 16px;
  --padding-5xs: 8px;
  --padding-21xl: 40px;
  --padding-11xl: 30px;
  --padding-30xl: 49px;
  --padding-39xl: 58px;
  --padding-10xl: 29px;
  --padding-20xl: 39px;
  --padding-12xs: 1px;
  --padding-61xl: 80px;
  --padding-xl: 20px;
  --padding-54xl: 73px;
  --padding-3xs: 10px;
  --padding-2xl: 21px;
  --padding-8xl: 27px;
  --padding-22xl: 41px;
  --padding-41xl: 60px;
  --padding-3xl: 22px;
  --padding-17xl: 36px;
  --padding-63xl: 82px;
  --padding-7xl: 26px;
  --padding-55xl: 74px;
  --padding-13xl: 32px;
  --padding-4xs: 9px;
  --padding-5xs-5: 7.5px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-11xl: 30px;
  --br-7xs: 6px;
  --br-8xs: 5px;
  --br-114xl-5: 133.5px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-3xs: 10px;
  --br-xl: 20px;

  /* Effects */
  --shadow-8: 0px 8px 16px rgba(171, 190, 209, 0.4);
}
